[submodule "repos/anti-defensive-writing"]
	path = repos/anti-defensive-writing
	url = https://github.com/Kiterlin/anti-defensive-writing.git
	branch = main
[submodule "repos/grill-me"]
	path = repos/grill-me
	url = https://github.com/mattpocock/skills.git
	branch = main
[submodule "repos/research-paper-writing"]
	path = repos/research-paper-writing
	url = https://github.com/Master-cai/Research-Paper-Writing-Skills.git
	branch = main
